html,
body,
#content_wrapper {
  min-width: 320px;
  width: 100%;
  height: 100%;
  background: #323A45;
}
h1 {
  color: #FFF;
}
.box {
  border: none;
}
.modal {
  position: relative;
  background: #FFF;
  max-width: 450px;
}
.modal a:hover {
  text-decoration: none;
}
.modal .close {
  position: absolute;
  right: .5em;
  top: .5em;
  color: #696762;
  line-height: 1;
}
.modal .header {
  background: #dbdad7;
  color: #696762;
}
.modal .lists {
  background: #FFF;
}
.modal .lists a {
  display: block;
  color: #000;
}
.modal .lists a:hover {
  background: #e5ebf7;
  color: #36c;
}
.modal .done {
  display: none;
}
.modal.added .sb-favorite {
  color: #d12c2a;
  -webkit-transition-property: color;
  -webkit-transition-delay: 250ms;
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing: ease-in-out;
  -webkit-animation: pulse 500ms ease-in-out;
  -webkit-animation-delay: 250ms;
}
.modal.added .lists {
  display: none;
}
.modal.added .done {
  display: block;
}
.modal .new_list {
  position: relative;
}
.modal .new_list:hover,
.modal .new_list:hover input {
  background: #e5ebf7;
  color: #36c;
}
.modal .new_list input {
  border: none;
  outline: none;
  width: 75%;
}
.modal .new_list input:before {
  content: "\e60a";
}
.modal .new_list input:-webkit-input-placeholder {
  color: red;
}
.modal .new_list .sb-check {
  position: absolute;
  top: 0;
  right: 0;
}
@media only screen and (max-width: 600px) {
  .one-half {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  #content_wrapper {
    padding: 0;
  }
  h1.h-boxed--xxl {
    margin: 1em;
  }
  .box {
    border-radius: 0;
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
